node_modules
.env

# pyenv tracking the python version for this directory - Gabe
.python-version

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# ignore virtual environment
.venv/

# don't need python cache
__pycache__/